<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Muna Eseonu">
    <meta name="date" content="July 24,2020">
    <meta name="course module" content="cPRG-210-XM1- Web Development">
    <meta name="assignment" content="Assignment 2">
  
    <title>Gallery</title>
  <link rel="stylesheet" href="css/styles.css">
  <div class="container">
      <div class="nav">
          <div class="right-side"></div>


              <div class="nav-link">
                  <a href="/">HOME</a>
              </div>
                  
              <div class="nav-link">
                  <a href="/register.html">REGISTRATION</a>
              </div>

              <div class="nav-link">
                  <a href="/login.html">LOGIN</a>
              </div>

              <div class="nav-link">
                  <a href="/#mailing address">CONTACT US</a>
              </div>

              <div class="nav-link">
                  <a href="/destination.html">GALLERY</a>
              </div>

          </div>                       
          

      </div>

  </div>
</head>
<body>
  <header class="full-vh center-items">
    <figure>
      <img src="images/id/<%= id %>/600" alt="<%= title %>">
      <figcaption>Hello <%= title %>!</figcaption>
    </figure>
  </header>
</body>

<footer>
    &copy; 2020 Zoom Travel Agency
</footer>
</html>
